@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f1f7f7;
  --foreground: #0c2f2f;
  --font-instrument-sans: "Instrument Sans", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-instrument-sans);
}
